<!DOCTYPE html>
<html>
<head>
	<title>joy test project</title>
	
</head>
<body>
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<table>
		{{ tt }}
	</table>
	<hr />
	<div id="123">{{ joy|safe }}</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
	<script type="text/javascript" src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>

</body>
</html>